{% extends "base.html" %}

{% block content %}

<h1>Lista książek</h1>
<div class="row">
{% for book in books %}
<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        {% if book.cover %}
        <img src="{{book.cover.url}}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.short_description }}</p>
            <a href="{% url 'book_details' book.id %}" class="btn btn-primary">Więcej...</a>
        </div>
    </div>
</div>

{% endfor %}
</div>
{% endblock content %}
